@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  color-scheme: light dark;
}
body {
  background-color: light-dark(#FFFFFF, #0F0F0F);
}

* {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

}


.homepage header button:nth-of-type(1){
    margin-right: 1rem;
}

header img {
    width: 40%;
   
}
input:focus,article:focus,a:focus,button:focus, details:focus, video:focus{
    outline: 2px solid rgb(255, 52, 255);
}

main {
    display: flex;
    flex-direction: column;
}

video {
    width: 100%;
}



/*typografie*/
h1,
h2,
h3,
h4,
p , li{
    font-family: "roboto";
}

h1 {
    font-size: x-large;
    padding-left: 0.2em;
}

h3 {
    font-size: xx-small;
    padding-top: 0.5em;
    padding-bottom: 2em;
    padding-left: 0.2em;
}


article img {
    border-radius: 1rem;
    width: 100%;

}
/*playscreen*/
details {
    font-size: 15px;
    padding-right: 5em;

}
footer img {
    width: 40px;

}
div{
    display: flex;
    margin-bottom:1em;
    margin-top:0.5em;
}
div>h2{
    padding-top:0.5em;
    padding-left:0.5em;
}
div button{
    margin-left: 5em;
}
/* Navigatie beginscherm*/
nav {
    position: fixed;
    display: none;
  background-color: light-dark(#FFFFFF,  #272727) ;
    left:0;
  right:0;
  top:0;
  bottom:0;
  
}




nav>h2 {
    font-size: 17px;
}
nav>ul{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

li {
    text-decoration: none;
    list-style: none;
}

[class='open'] {
    display: block;
    

}
/* Button vormgeving*/

button{
   background-color: light-dark(#F2F2F2, #717070) ;
    border-radius: 0.4em;
    padding: 0.5em;
    
  
}
button:hover{
    background-color: light-dark(#b7b5b5, #676767) ;

}
 button:active{
    background-color: rgb(168, 111, 168);
    
}

/* article vormgeving*/
article {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0.4rem;
    padding-bottom: 0.8em;
  box-shadow: inset 0 0 10px rgba(1, 1, 1, 0.5); /* Inner shadow with blur */
}




article h2 {
    font-size: medium;
    padding-left: 0.2em;
}


/* Shorts vormgeving*/

main section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    
}

main section:nth-of-type(2) h2 {
    height: max-content;
}

main section:nth-of-type(2) ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.2rem;
}

main section:nth-of-type(2) ul li {
    position: relative;
}

main section:nth-of-type(2) ul li img {
    max-width: 100%;
    border-radius: 0.5rem;
}

main section:nth-of-type(2) ul li p {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: white;
}

label{
    display: none;
}

input{
    border-radius: 4rem;
    padding: 0.3rem;

}
/*animations*/

.dislikeButton.selected {
  fill: red;
  transition: ease 0.3s;
}
.likeButton.selected {
  fill: green;
}

header img:hover{
    animation-name: draaien;
    animation-duration: 1s;
}

@keyframes draaien{
    0%{
        rotate:0deg;
    }
    100%{
        rotate:360deg;
    }
}

img:hover{
    animation-name:grow;
    animation-duration: 1s;
}
@keyframes grow{
    0%{
        scale:100%;
    }
    100%{
        scale:110%;
    }

}